[submodule "libobjc2"]
	path = libobjc2
	url = https://github.com/gnustep/libobjc2.git
[submodule "libs-back"]
	path = libs-back
	url = https://github.com/gnustep/libs-back.git
[submodule "libs-base"]
	path = libs-base
	url = https://github.com/gnustep/libs-base.git
[submodule "libs-gui"]
	path = libs-gui
	url = https://github.com/gnustep/libs-gui.git
[submodule "tools-make"]
	path = tools-make
	url = https://github.com/gnustep/tools-make.git
[submodule "gs-desktop"]
	path = gs-desktop
	url = https://github.com/yellowbox-os/gs-desktop
	branch = working-firefox-wrapper
[submodule "gap"]
	path = gap
	url = https://github.com/gnustep/gap
[submodule "gs-terminal"]
	path = gs-terminal
	url = https://github.com/yellowbox-os/gs-terminal
[submodule "gs-textedit"]
	path = gs-textedit
	url = https://github.com/onflapp/gs-textedit
[submodule "workspace"]
	path = workspace
	url = https://github.com/yellowbox-os/workspace.git
[submodule "plugins-themes-Gtk"]
	path = plugins-themes-Gtk
	url = https://github.com/yellowbox-os/plugins-themes-Gtk.git
[submodule "libs-dbuskit"]
	path = libs-dbuskit
	url = https://github.com/gnustep/libs-dbuskit
